*{
    margin: 0;
    

}
html{
    scroll-behavior: smooth;
}
.nav1{
    
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}
.logo{
    color: #fff;
    
}
.logo p{
    padding: 0px 20px;
    font-size: 30px;
}
/* sadwitch manu styling */
.bar {
    width: 30px;
    height: 30px;
    background-color:white;
    position:absolute ;
    display: none;
    right: 5%;
    top: 5%;
    flex-direction: column;
    width: 35;
    height: 35;
    justify-content: space-between;
    background-color: black;
    
}
.bar .bars{
    height: 5px;
    width: 100%;
    background-color: white;
}


.bar:hover .dropdown-menu {
    display: block;
}
.manu {
    list-style:none;
    align-items:center;
    justify-content:center;
    display:flex;
 }
 
 .manu  li{
    list-style:none;
    
    color:#fff;
    padding: 20px 50px 10px ;
    align-items:center;
    display:flex;
    font-size: 20px;
    
 }
 .manu li a{
     text-decoration: none;
     color: white;
     display: block;
 }
 .manu li a:hover {
     
     color:purple;
 }
 @media screen and (max-width: 900px){
     .bar{
         display: flex;
     }
     .manu{
         /* display: none; */
         width: 100%;
         flex-direction: column;
 
     }
     
     .nav1{
         flex-direction: column;
         align-items: flex-start;
         padding-bottom: 20px;
         padding-top: 20px;

 
     }
     .bar{
        top: 4%;
     }
     .manu li{
         text-align: center;
         width: 100%;
     }
     
     .manu.active{
         display: none;
     }
     
    
     
 }
 .section1 {
    background-image: linear-gradient(rgba(3, 2, 15, 0.3), rgba(5,4,46,0.7)),url("photo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
    opacity: 1;
    transition: 5s;
    position: relative;
    isolation: isolate;


    animation-name:animate ;
    animation-direction: alternate-reverse;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    
    
}
.section1::after{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: 0.3;
}
.welcomesec {
    display: flex;
    color:white;
    width: 100%;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 50px;

    
}
.welcomesec h1{
    margin: 0px;
    padding: 0px;
    font-size: 60px;
    
}
.welcomesec h2{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    
}
@media  screen and (max-width:900px) {
    .welcomesec h1{
        margin: 0px;
        padding: 0px;
        font-size: 60px;
        
    }
    .welcomesec h2{
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        
    }
}
.welcomesec a{
    text-decoration: none;
    font-size: 0.9rem;
    background-color: white;
    font-weight: 600;
    padding: 13px 35px;
    border-radius: 5px;
}
.welcomesec .btn{
  
    align-items: center;
    margin-left: 100px;
}
.welcomesec .btn .blue{
    color: white;
    background-color: rgb(21, 21, 100);
}
.welcomesec .btn .blue:hover{
    color: blue;
    background-color: white;
}
.welcomesec .btn .yellow{
    color: white;
    background-color: #fdc93b;
}
.welcomesec .btn .yellow:hover{
    color: blue;
    background-color: white;
}
@media  screen and (max-width:700px) {
    .welcomesec p{
        display: none;
    }
    .welcomesec .btn{
        
        align-items: center;
        margin-top: 30px;
        margin-left: 50px;
    }
}
@keyframes animate{
    0%{
        background-image:url("kid.png")
    }
    50%{
        background-image: url("cc1.png");
    }
    
    100%{
        background-image: url("cc4.png");
    }
}
/* budjet container style */
.budjetsec{
    background: rgb(228, 228, 228);
    align-items: center;
    justify-content: center;
}
.budjetsec .container{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.budjetsec .container .box1 {
    width: 100%;
    align-items: center;
    justify-content: center;
   ;
}
.budjetsec .container .box1 h2{
    
    align-items: center;
    justify-content: center;
    padding-left: 500px;
    color: red;
    padding-top: 20px;
}
.point{
    
    justify-content: center;
    align-items: center;
   
}
.point .one{
    width: 10px;
    height: 10px;
    background-color: blue;
}


.budjetsec .container .box1 p{
    
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    margin-top: 10px;
    background-color: #594ab3;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    border-radius: 10px;
  
}
.cont{
    display: flex;
    justify-content: center;
    
}
.box2{
    width: 50%;
    padding-bottom: 20px;
    background-color: #1c00b5;
    box-shadow: 10px 10px 15px black;
    margin: 15px;
    justify-content: center;
    border-radius: 5px ;
}
.box2 .Roads{
    width: 80%;
    margin-left: 20px;
    color: white;
   
}
.box2 .Roads h1{
    padding-top: 20px;
    font-size: 30px;
    color: aquamarine
    
}
.box2 .Roads p{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    margin-top: 10px;
    background-color: #594ab3;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    border-radius: 10px;
}


.box3{
    width: 50%;
    padding-bottom: 20px;
    background-color: #24b500;
    box-shadow: 10px 10px 15px black;
    margin: 15px;
    justify-content: center;
    border-radius: 5px ;
}
.box3 .empowerment{
    
    color: white;
    width: 80%;
    margin-left: 20px;
}
.box3 .empowerment h1{
    padding-top: 20px;
    font-size: 30px;
    color: aquamarine
    
}
.box3 .empowerment p{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    margin-top: 10px;
    background-color: #100450;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    border-radius: 10px;
}
.box4{
    width: 50%;
    padding-bottom: 20px;
    background-color: #e72a08;
    box-shadow: 10px 10px 15px black;
    margin: 15px;
    justify-content: center;
    border-radius: 5px ;
}

.box4 .reconstraction{
    color: white;
    width: 80%;
    margin-left: 20px;
}
.box4 .reconstraction h1{
    padding-top: 20px;
    font-size: 30px;
    color: aquamarine
    
}
.box4 .reconstraction p{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    margin-top: 10px;
    background-color: #2b1b66;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    border-radius: 10px;
}
@media screen and (max-width:900px){
    .cont{
        flex-direction: column;
    }
    .box2{
        width: 100%;
        margin: 0px;
        margin-top: 30px;
    }
    .box3{
        width: 100%;
        margin: 0px;
        margin-top: 30px;
    }
    .box4{
        width: 100%;
        margin: 0px;
        margin-top: 30px;
    }
    .budjetsec{
        padding-bottom: 40px;
    }
    .budjetsec .container .box1 h2{
        padding-left: 60px;
    }
}

footer{
    height: 300px;
    width: 100%;
    background-color: black;
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    
    
    display: flex;
    flex-direction: column;
    
    
}
.useful-links{
    width: 100%;
    align-items: start;
  
    list-style: none;
}
.useful-links h3{
    padding-left: 100px;
}
.useful-links ul{
    list-style: none;
    padding-left: 100px;
    
}
.useful-links ul li{
    list-style: none;
    margin-top: 5px;
    
}
.useful-links ul li a{
    color: blue;
    text-decoration: none;
    justify-content: space-between;
}
footer p {
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-left: 35%;
    font-size: larger
}
@media screen and (max-width:900px){
    footer{
        font-size: 12px;
       
    }
    footer .socials{
        margin-left: 20px;
    }
}